---
import Header from "../components/Header.astro";
const isProd = import.meta.env.PROD;
---

<!doctype html>
<html>
  <head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/style.css" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="astro-tweet demo" />
    <meta
      property="og:description"
      content="astro-tweet is a library to render tweets to static HTML without any client side JavaScript in your Astro projects"
    />
    <meta
      name="og:image"
      content="https://astro-tweet-demo.vercel.app/social.png"
    />
    <meta property="og:url" content="https://astro-tweet-demo.vercel.app" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta
      name="description"
      content="astro-tweet is a library to render tweets to static HTML without any client side JavaScript in your Astro projects"
    />
    <meta name="twitter:card" content="summary_large_image" />

    <meta property="twitter:title" content="astro-tweet demo" />
    <meta
      property="twitter:description"
      content="astro-tweet is a library to render tweets to static HTML without any client side JavaScript in your Astro projects"
    />

    <meta name="twitter:site" content="@tsriram" />
    <meta
      name="twitter:image"
      content="https://astro-tweet-demo.vercel.app/social.png"
    />
    <meta name="theme-color" content="#243447" />
    <meta
      name="keywords"
      content="astro twitter embed, astro static tweet, twitter static embed"
    />
    <meta
      name="google-site-verification"
      content="5r-3FOv6U5KBy-18KpJAHlbOCKXiYqg9Po4PfZVT5Fg"
    />
    <title>astro-tweet Demo</title>
  </head>
  <body
    class="bg-light-bg text-light-text dark:bg-dark-bg dark:text-dark-text flex flex-col items-center p-8"
  >
    <main class="flex flex-col items-center mt-8 w-full">
      <Header />
      <slot />
    </main>
    <footer class="flex flex-col items-center gap-4 mt-12">
      <div>
        Inline direction:
        <input type="checkbox" id="rtl" />
        <label for="rtl">Right to Left</label>
      </div>
      <div>
        Block direction:
        <input type="radio" id="horizontal" name="layout" value="horizontal" />
        <label for="horizontal">Horizontal</label>
        <input type="radio" id="vertical-lr" name="layout" value="vertical-lr" />
        <label for="vertical-lr">Vertical LR</label>
        <input type="radio" id="vertical-rl" name="layout" value="vertical-rl" />
        <label for="vertical-rl">Vertical RL</label>
      </div>
      <div>
        The source code is available on <a
          class="dark:text-pink-500 text-blue-700"
          href="https://github.com/tsriram/astro-tweet">GitHub</a
        >
      </div>
      <div>
        Built by <a
          class="dark:text-pink-500 text-blue-700"
          href="https://twitter.com/tsriram"
          target="_blank">Sriram</a
        >
      </div>
    </footer>
    <!-- Cloudflare Web Analytics -->
    {
      isProd && (
        <script
          defer
          src="https://static.cloudflareinsights.com/beacon.min.js"
          data-cf-beacon='{"token": "b37753698e6e4212bf721cbe0e8411a4"}'
        />
      )
    }<!-- End Cloudflare Web Analytics -->
  </body>
</html>
