---
import AstroTweet from "astro-tweet";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>
    <a
      class="dark:text-pink-500 light:text-blue-700"
      href="https://github.com/tsriram/astro-tweet"
      target="_blank"
    >
      astro-tweet</a
    > demo
  </h1>

  <!-- Tweet with photo -->
  <!-- <AstroTweet id="1695737974808596731" /> -->
  <!-- Quoted tweet -->
  <!-- <AstroTweet id="1717896973838360890" /> -->
  <!-- Tweet with video -->
  <!-- <AstroTweet id="1719392950545719424" /> -->
  <!-- Test tweet ;-) -->
  <AstroTweet id="1713443573168034170" />
  <div class="text-xs text-gray-200">This tweet was statically generated.</div>
</BaseLayout>
