.root {
  margin-block-start: 0.75rem;
  overflow: hidden;
  position: relative;
}
.rounded {
  border: var(--tweet-border);
  border-radius: 12px;
}
.mediaWrapper {
  display: grid;
  grid-auto-rows: 1fr;
  gap: 2px;
  block-size: 100%;
  inline-size: 100%;
}
.grid2Columns {
  grid-template-columns: repeat(2, 1fr);
}
.grid3 > a:first-child {
  grid-row: span 2;
}
.grid2x2 {
  grid-template-rows: repeat(2, 1fr);
}
.mediaContainer {
  position: relative;
  block-size: 100%;
  inline-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mediaLink {
  text-decoration: none;
  outline-style: none;
}
.skeleton {
  padding-block-end: 56.25%;
  inline-size: 100%;
  display: block;
}
.image {
  position: absolute;
  inset-block-start: 0px;
  inset-inline-start: 0px;
  inset-block-end: 0px;
  block-size: 100%;
  inline-size: 100%;
  margin: 0;
  object-fit: cover;
  object-position: center;
}
