.replies {
  padding-block: 0.25rem;
  padding-inline: 0;
}
.link {
  text-decoration: none;
  color: var(--tweet-color-blue-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  min-inline-size: 32px;
  min-block-size: 32px;
  user-select: none;
  outline-style: none;
  transition-property: background-color;
  transition-duration: 0.2s;
  padding-block: 0;
  padding-inline: 1rem;
  border: var(--tweet-border);
  border-radius: 9999px;
}
.link:hover {
  background-color: var(--tweet-color-blue-secondary-hover);
}
.text {
  font-weight: var(--tweet-replies-font-weight);
  font-size: var(--tweet-replies-font-size);
  line-height: var(--tweet-replies-line-height);
  overflow-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
