.header {
  display: flex;
  padding: 0.75rem;
  padding-block-end: 0;
  line-height: var(--tweet-header-line-height);
  font-size: var(--tweet-header-font-size);
  white-space: nowrap;
  overflow-wrap: break-word;
  overflow: hidden;
}

.avatar {
  position: relative;
  block-size: 20px;
  inline-size: 20px;
}

.avatarSquare {
  border-radius: 4px;
}

.author {
  display: flex;
  margin-block: 0;
  margin-inline: 0.5rem;
}

.authorText {
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.username {
  color: var(--tweet-font-color-secondary);
  text-decoration: none;
  text-overflow: ellipsis;
  margin-inline-start: 0.125rem;
}
